<center><h1>Introducción a Numpy</h1></center>

## 2. Introducción a Ndarrays.

### Ejercicio

Ejecute las instrucciones a continuación.

1. Importe `numpy` y asígnelo al alias `np`.
1. Cree un NumPy ndarray de la lista `[10, 20, 30]`. Asigne el resultado a la variable `data_ndarray`.

In [ ]:
import numpy as np 
data_ndarray = np.array('10 20 30'.split(), dtype=int)
print(data_ndarray)

## 4. Datos de taxis y aeropuertos de la ciudad de Nueva York.

### Ejercicio

En la siguiente celda, hemos utilizado el módulo `csv` de Python para importar el archivo `nyc_taxis.csv` y convertirlo en una lista de listas que contienen valores flotantes.

1. Agrega una línea de código usando el constructor `numpy.array()` para convertir la variable `convert_taxi_list` en un NumPy ndarray.

2. Asigne el resultado a la variable nombre `taxi`.

In [ ]:
import csv

# import nyc_taxi.csv as a list of lists
with open('nyc_taxis.csv', 'r') as f:
    header_taxi = [*next(csv.reader(f))]
    taxi_list = [*csv.reader(f)]

converted_taxi_list = [[float(element) for element in row] for row in taxi_list]

# start writing your code below this comment
taxi = np.array(converted_taxi_list)

print(taxi)

## 5. Dimensiones de un arreglo

### Ejercicio

- Asigne la forma de `taxi` a `taxi_shape`. Imprime el resultado.

In [ ]:
taxi_shape = taxi.shape
print(taxi_shape)

## 6. Seleccionar y dividir filas y elementos de Ndarrays


### Ejercicio

Desde `taxi` ndarray:

- Seleccione la fila en el índice `0`. Asígnela a `row_0`.
- Seleccione cada columna para las filas en los índices `391` a `500` inclusive. Asígnelos a `rows_391_to_500`.
- Seleccione el elemento en el índice de fila `21` y el índice de columna `5`. Asígnelo a `row_21_column_5`.

In [ ]:
row_0 = taxi[0]
rows_391_to_500 = taxi[391:501]
row_21_column_5 = taxi[21, 5]

In [ ]:
print(rows_391_to_500)

## 7. Selección de columnas y secciones de un arrreglo


### Ejercicio

De `taxi` ndarray:

- Seleccione cada fila para las columnas en los índices `1`, `4` y `7`. Asígnelas a las `columns_1_4_7`.
- Seleccione las columnas en los índices `5` a `8` inclusive para la fila en el índice `99`. Asígnelas a `row_99_columns_5_to_8`.
- Seleccione las filas en los índices `100` a `200` inclusive para la columna en el índice `14`. Asígnelas a `rows_100_to_200_column_14`.

In [ ]:
columns_1_4_7 = taxi[:, [1, 4, 7]]
row_99_columns_5_to_8 = taxi[99, 5:9]
rows_100_to_200_column_14 = taxi[100:201, 14]

In [ ]:
print(rows_100_to_200_column_14)

## 8. Matemáticas vectoriales.

### Ejercicio

- Use la suma de vectores para agregar `fare_amount` y `fees_amount`. Asigne el resultado a `fare_and_fees`.
- Imprima las variables.

In [ ]:
# given
fare_amount = taxi[:, 9]
fees_amount = taxi[:, 10]

In [ ]:
fare_and_fees = fare_amount + fees_amount
print(fare_and_fees)

## 9. Matemáticas vectoriales (continuación)

### Ejercicio

- Utilice la división de vectores para dividir `trip_distance_miles` por `trip_length_hours`. Asigne el resultado a `trip_mph`.
- Imprima el contenido de la nueva variable `trip_mph`.

In [ ]:
trip_distance_miles = taxi[:, 7]
trip_length_hours = taxi[:, 8] / 3600

In [ ]:
trip_mph = trip_distance_miles / trip_length_hours

In [ ]:
print(trip_mph)

## 10. Cálculo de estadísticas para matrices 1D


### Ejercicio

1. Utilice el [método `ndarray.max()`](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.max.html) para calcular el valor máximo de `trip_mph`. Asigne el resultado a `mph_max`.
1. Usa el [método `ndarray.mean()`](https://numpy.org/doc/stable/reference/generated/numpy.ndarray.mean.html) para calcular el valor promedio de `trip_mph`. Asigne el resultado a `mph_mean`.

In [ ]:
mph_max = trip_mph.max()
mph_mean = trip_mph.mean()

In [ ]:
print(mph_max)
print(f'Mean: {mph_mean:.2f}')

## 12. Cálculo de estadísticas para arreglos 2D

### Ejercicio

Asigne las primeras cinco filas de `taxi` a `taxi_first_five` y las primeras cuatro columnas de la tabla anterior a `fare_components`.

Compruebe si la suma de cada fila en `fare_components` es igual al valor de la columna `total_amount`.

1. Utilice el método `ndarray.sum()` para calcular la suma de cada fila en `fare_components`. Asigne el resultado a `fare_sums`.
1. Extraiga la columna 14 en `taxi_first_five`. Asignar a `fare_totals`.
1. Imprimir `fare_totals` y `fare_sums`. Imprima el resultado y verifique que los resultados coincidan.

In [ ]:
taxi_first_five = taxi[:5]
fare_components = taxi_first_five[:, 9:13]

In [ ]:
fare_sums = fare_components.sum(axis=1)
fare_totals = taxi_first_five[:, 13]

In [ ]:
print(fare_sums)
print(fare_totals)