El objetivo de este proyecto es limpiar los datos y analizar los listados de autos usados incluidos. También se familiarizará con algunos de los beneficios exclusivos que ofrece jupyter notebook para pandas.

Comencemos importando las bibliotecas que necesitamos y leyendo el conjunto de datos en pandas.

# Part 01

In [125]:
from pprint import pprint
import numpy as np
import pandas as pd

In [126]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [127]:
# autos = pd.read_csv('autos.csv')

In [128]:
# Try with Latin-1 and Windows-1252
autos = pd.read_csv('autos.csv', encoding='Latin-1')
# autos = pd.read_csv('autos.csv', encoding='Windows-1252')

In [129]:
print(autos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None

In [130]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [131]:
print(autos.dtypes.unique())

[dtype('O') dtype('int64')]

In [132]:
print(autos.dtypes[autos.dtypes == object].index.values)
print()
print(autos.dtypes[autos.dtypes == np.int64])

['dateCrawled' 'name' 'seller' 'offerType' 'price' 'abtest' 'vehicleType'
 'gearbox' 'model' 'odometer' 'fuelType' 'brand' 'notRepairedDamage'
 'dateCreated' 'lastSeen']

yearOfRegistration     int64
powerPS                int64
monthOfRegistration    int64
nrOfPictures           int64
postalCode             int64
dtype: object

# Part02

In [133]:
pprint(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [134]:
new_names = {
    'dateCrawled': 'date_crawled',
    'name': 'name',
    'seller': 'seller',
    'offerType': 'offer_type',
    'price': 'price',
    'abtest': 'abtest',
    'vehicleType': 'vehicle_type',
    'yearOfRegistration': 'registration_year',
    'gearbox': 'gearbox',
    'powerPS': 'power_ps',
    'model': 'model',
    'odometer': 'odometer',
    'monthOfRegistration': 'registration_month',
    'fuelType': 'fuel_type',
    'brand': 'brand',
    'notRepairedDamage': 'unrepaired_damage',
    'dateCreated': 'ad_created',
    'nrOfPictures': 'nr_of_pictures',
    'postalCode': 'postal_code',
    'lastSeen':'last_seen' ,
}

In [135]:
autos.rename(columns=new_names, inplace=True)
print(autos.columns)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [136]:
print(autos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        50000 non-null  object
 1   name                50000 non-null  object
 2   seller              50000 non-null  object
 3   offer_type          50000 non-null  object
 4   price               50000 non-null  object
 5   abtest              50000 non-null  object
 6   vehicle_type        44905 non-null  object
 7   registration_year   50000 non-null  int64
 8   gearbox             47320 non-null  object
 9   power_ps            50000 non-null  int64
 10  model               47242 non-null  object
 11  odometer            50000 non-null  object
 12  registration_month  50000 non-null  int64
 13  fuel_type           45518 non-null  object
 14  brand               50000 non-null  object
 15  unrepaired_damage   40171 non-null  object
 16  ad_created          50000 non-null  object
 17  nr_of_pictures      50000 non-null  int64
 18  postal_code         50000 non-null  int64
 19  last_seen           50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB
None

In [137]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

# Part03

In [138]:
autos.describe()

,registration_year,power_ps,registration_month,nr_of_pictures,postal_code
count,50000.00,50000.00,50000.00,50000.00,50000.00
mean,2005.07,116.36,5.72,0.00,50813.63
std,105.71,209.22,3.71,0.00,25779.75
min,1000.00,0.00,0.00,0.00,1067.00
25%,1999.00,70.00,3.00,0.00,30451.00
50%,2003.00,105.00,6.00,0.00,49577.00
75%,2008.00,150.00,9.00,0.00,71540.00
max,9999.00,17700.00,12.00,0.00,99998.00

In [139]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.00,47320,50000.00,47242,50000,50000.00,45518,50000,40171,50000,50000.00,50000.00,50000
unique,48213,38754,2,2,2357,2,8,nan,2,nan,245,13,nan,7,40,2,76,nan,nan,39481
top,2016-03-11 22:38:16,Ford_Fiesta,privat,Angebot,$0,test,limousine,nan,manuell,nan,golf,"150,000km",nan,benzin,volkswagen,nein,2016-04-03 00:00:00,nan,nan,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,nan,36993,nan,4024,32424,nan,30107,10687,35232,1946,nan,nan,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.07,NaN,116.36,NaN,NaN,5.72,NaN,NaN,NaN,NaN,0.00,50813.63,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.71,NaN,209.22,NaN,NaN,3.71,NaN,NaN,NaN,NaN,0.00,25779.75,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.00,NaN,0.00,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.00,1067.00,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.00,NaN,70.00,NaN,NaN,3.00,NaN,NaN,NaN,NaN,0.00,30451.00,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.00,NaN,105.00,NaN,NaN,6.00,NaN,NaN,NaN,NaN,0.00,49577.00,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.00,NaN,150.00,NaN,NaN,9.00,NaN,NaN,NaN,NaN,0.00,71540.00,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.00,NaN,17700.00,NaN,NaN,12.00,NaN,NaN,NaN,NaN,0.00,99998.00,NaN

In [140]:
autos[autos.dtypes[autos.dtypes == object].index.values].describe()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,gearbox,model,odometer,fuel_type,brand,unrepaired_damage,ad_created,last_seen
count,50000,50000,50000,50000,50000,50000,44905,47320,47242,50000,45518,50000,40171,50000,50000
unique,48213,38754,2,2,2357,2,8,2,245,13,7,40,2,76,39481
top,2016-03-11 22:38:16,Ford_Fiesta,privat,Angebot,$0,test,limousine,manuell,golf,"150,000km",benzin,volkswagen,nein,2016-04-03 00:00:00,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,36993,4024,32424,30107,10687,35232,1946,8

In [141]:
autos[autos.dtypes[autos.dtypes == object].index.values].describe().loc['unique']

date_crawled         48213
name                 38754
seller                   2
offer_type               2
price                 2357
abtest                   2
vehicle_type             8
gearbox                  2
model                  245
odometer                13
fuel_type                7
brand                   40
unrepaired_damage        2
ad_created              76
last_seen            39481
Name: unique, dtype: object

In [142]:
print(autos['seller'].value_counts())
print()
print(autos['offer_type'].value_counts())
print()
print(autos['abtest'].value_counts())
print()
print(autos['gearbox'].value_counts())
print()
print(autos['unrepaired_damage'].value_counts())

privat        49999
gewerblich        1
Name: seller, dtype: int64

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

test       25756
control    24244
Name: abtest, dtype: int64

manuell      36993
automatik    10327
Name: gearbox, dtype: int64

nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64

In [143]:
print(autos['fuel_type'].value_counts())

benzin     30107
diesel     14567
lpg          691
cng           75
hybrid        37
andere        22
elektro       19
Name: fuel_type, dtype: int64

In [144]:
print(autos[['price', 'odometer', 'brand']].head())

    price   odometer       brand
0  $5,000  150,000km     peugeot
1  $8,500  150,000km         bmw
2  $8,990   70,000km  volkswagen
3  $4,350   70,000km       smart
4  $1,350  150,000km        ford

In [145]:
print(autos['last_seen'].head())

0    2016-04-06 06:45:54
1    2016-04-06 14:45:08
2    2016-04-06 20:15:37
3    2016-03-15 03:16:28
4    2016-04-01 14:38:50
Name: last_seen, dtype: object

Columns with only two values are


- `'seller'`
- 'offer_type'
- 'abtest'
- 'gearbox'
- 'unrepaired_damage'


'date_crawled'
'name'
'vehicle_type'
'model'
'fuel_type'
'brand'
'ad_created'
'last_seen'


Columns wit numeric values but in the dataset were storage as strings are:

- 'price'
- 'odometer'

In [146]:
autos['odometer'].str[-3:].unique()

array(['0km'], dtype=object)

#### String methods

[pandas.Series.str.replace](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.replace.html)

In [147]:
autos['odometer'] = autos['odometer'].str.replace('km', '').str.replace(',', '').astype(int)

In [148]:
print(autos['odometer'].head())

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer, dtype: int64

#### Rename Columns

[pandas.DataFrame.rename](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html)

In [149]:
autos.rename(columns={'odometer': 'odometer_km'}, inplace=True)

In [150]:
autos.columns.tolist()

['date_crawled',
 'name',
 'seller',
 'offer_type',
 'price',
 'abtest',
 'vehicle_type',
 'registration_year',
 'gearbox',
 'power_ps',
 'model',
 'odometer_km',
 'registration_month',
 'fuel_type',
 'brand',
 'unrepaired_damage',
 'ad_created',
 'nr_of_pictures',
 'postal_code',
 'last_seen']

In [151]:
autos['price'] = autos['price'].str.replace('$', '').str.replace(',', '').astype(int)

In [152]:
print(autos.dtypes[autos.dtypes == int].index.tolist())

['price', 'registration_year', 'power_ps', 'odometer_km', 'registration_month', 'nr_of_pictures', 'postal_code']

# Part 04

In [153]:
print(autos['price'].unique().shape)

(2357,)

In [154]:
print(autos['price'].describe())

count      50000.00
mean        9840.04
std       481104.38
min            0.00
25%         1100.00
50%         2950.00
75%         7200.00
max     99999999.00
Name: price, dtype: float64

In [155]:
print(autos['price'].value_counts(), '\n', '-'*40)
print(autos['price'].value_counts().head(), '\n', '-' * 40)
print(autos['price'].value_counts().tail())

0        1421
500       781
1500      734
2500      643
1000      639
         ...
20790       1
8970        1
846         1
2895        1
33980       1
Name: price, Length: 2357, dtype: int64
 ----------------------------------------
0       1421
500      781
1500     734
2500     643
1000     639
Name: price, dtype: int64
 ----------------------------------------
20790    1
8970     1
846      1
2895     1
33980    1
Name: price, dtype: int64

#### Pandas `sort_index`

[pandas.Series.sort_index](https://pandas.pydata.org/docs/reference/api/pandas.Series.sort_index.html)

In [156]:
print(autos['price'].value_counts().sort_index(ascending=False).head())

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
Name: price, dtype: int64

In [157]:
print(autos['price'].value_counts().sort_index().head())

0    1421
1     156
2       3
3       1
5       2
Name: price, dtype: int64

#### Pandas between

[pandas.Series.between](https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html)

In [158]:
print(139 / (139 + 49861))
print(1896 / (1896 + 48104))

0.00278
0.03792

In [159]:
print(autos['price'].between(60_000, 99_999_999).value_counts())
print('-' * 40)
print(autos['price'].between(0,100).value_counts())
print('-' * 40)
print(autos['price'].between(5,10_000_000).value_counts())

False    49861
True       139
Name: price, dtype: int64
----------------------------------------
False    48104
True      1896
Name: price, dtype: int64
----------------------------------------
True     48412
False     1588
Name: price, dtype: int64

In [160]:
price_between_5and10million = autos['price'].between(1000, 8_000)

In [161]:
print(autos.loc[price_between_5and10million, 'price'].value_counts().sort_index())

1000    639
1039      1
1040      1
1049      6
1050     95
       ...
7985      1
7990     70
7995      2
7999    115
8000    161
Name: price, Length: 794, dtype: int64

In [162]:
print(autos.loc[price_between_5and10million, 'price'].value_counts().sort_index(ascending=False))

8000    161
7999    115
7995      2
7990     70
7985      1
       ...
1050     95
1049      6
1040      1
1039      1
1000    639
Name: price, Length: 794, dtype: int64

In [163]:
print(autos.loc[price_between_5and10million, 'price'].describe())

count   27811.00
mean     3481.80
std      1978.07
min      1000.00
25%      1800.00
50%      2990.00
75%      4900.00
max      8000.00
Name: price, dtype: float64

### Odometer analysis

In [164]:
print(autos['odometer_km'].unique().shape)

(13,)

In [165]:
print(autos['odometer_km'].describe())

count    50000.00
mean    125732.70
std      40042.21
min       5000.00
25%     125000.00
50%     150000.00
75%     150000.00
max     150000.00
Name: odometer_km, dtype: float64

In [166]:
print(autos['odometer_km'].value_counts())

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [167]:
print(autos['odometer_km'].value_counts().sort_index())
print('-' * 40) 
print(autos['odometer_km'].value_counts().sort_index(ascending=False))

5000        967
10000       264
20000       784
30000       789
40000       819
50000      1027
60000      1164
70000      1230
80000      1436
90000      1757
100000     2169
125000     5170
150000    32424
Name: odometer_km, dtype: int64
----------------------------------------
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

In [168]:
odometer_between = autos['odometer_km'].between(10_000, 150_000)
print(autos.loc[odometer_between, 'odometer_km'].describe())

count    49033.00
mean    128113.72
std      36631.38
min      10000.00
25%     125000.00
50%     150000.00
75%     150000.00
max     150000.00
Name: odometer_km, dtype: float64

# Part05

In [169]:
print(autos.columns)

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [170]:
print(autos[['date_crawled', 'ad_created', 'last_seen']].head())

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [171]:
print(autos['date_crawled'].str[:10].head())

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: date_crawled, dtype: object

#### Value counts
[pandas.Series.value_counts](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)

In [172]:
print(autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False))

2016-04-03   0.04
2016-03-20   0.04
2016-03-21   0.04
2016-03-12   0.04
2016-03-14   0.04
2016-04-04   0.04
2016-03-07   0.04
2016-04-02   0.04
2016-03-19   0.03
2016-03-28   0.03
2016-03-29   0.03
2016-03-15   0.03
2016-04-01   0.03
2016-03-30   0.03
2016-03-08   0.03
2016-03-09   0.03
2016-03-22   0.03
2016-03-26   0.03
2016-03-11   0.03
2016-03-23   0.03
2016-03-10   0.03
2016-03-31   0.03
2016-03-25   0.03
2016-03-17   0.03
2016-03-27   0.03
2016-03-16   0.03
2016-03-24   0.03
2016-03-05   0.03
2016-03-13   0.02
2016-03-06   0.01
2016-04-05   0.01
2016-03-18   0.01
2016-04-06   0.00
2016-04-07   0.00
Name: date_crawled, dtype: float64

In [173]:
print(
    autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
)

2016-03-05   0.03
2016-03-06   0.01
2016-03-07   0.04
2016-03-08   0.03
2016-03-09   0.03
2016-03-10   0.03
2016-03-11   0.03
2016-03-12   0.04
2016-03-13   0.02
2016-03-14   0.04
2016-03-15   0.03
2016-03-16   0.03
2016-03-17   0.03
2016-03-18   0.01
2016-03-19   0.03
2016-03-20   0.04
2016-03-21   0.04
2016-03-22   0.03
2016-03-23   0.03
2016-03-24   0.03
2016-03-25   0.03
2016-03-26   0.03
2016-03-27   0.03
2016-03-28   0.03
2016-03-29   0.03
2016-03-30   0.03
2016-03-31   0.03
2016-04-01   0.03
2016-04-02   0.04
2016-04-03   0.04
2016-04-04   0.04
2016-04-05   0.01
2016-04-06   0.00
2016-04-07   0.00
Name: date_crawled, dtype: float64

In [174]:
print(autos['ad_created'].str.split(' ').map(lambda x: x[0]))

0        2016-03-26
1        2016-04-04
2        2016-03-26
3        2016-03-12
4        2016-04-01
            ...
49995    2016-03-27
49996    2016-03-28
49997    2016-04-02
49998    2016-03-08
49999    2016-03-13
Name: ad_created, Length: 50000, dtype: object

In [175]:
print(autos['ad_created'].str.split(' ').map(lambda x: x[0]).value_counts(normalize=True, dropna=False).sort_index())

2015-06-11   0.00
2015-08-10   0.00
2015-09-09   0.00
2015-11-10   0.00
2015-12-05   0.00
             ...
2016-04-03   0.04
2016-04-04   0.04
2016-04-05   0.01
2016-04-06   0.00
2016-04-07   0.00
Name: ad_created, Length: 76, dtype: float64

In [176]:
print(autos['ad_created'].str.split(' ').map(lambda x: x[0]).value_counts(normalize=True, dropna=False).sort_index(ascending=False))

2016-04-07   0.00
2016-04-06   0.00
2016-04-05   0.01
2016-04-04   0.04
2016-04-03   0.04
             ...
2015-12-05   0.00
2015-11-10   0.00
2015-09-09   0.00
2015-08-10   0.00
2015-06-11   0.00
Name: ad_created, Length: 76, dtype: float64

In [177]:
print(autos['last_seen'].str.split().map(lambda x:x[0]).value_counts(normalize=True, dropna=False).sort_index())

2016-03-05   0.00
2016-03-06   0.00
2016-03-07   0.01
2016-03-08   0.01
2016-03-09   0.01
2016-03-10   0.01
2016-03-11   0.01
2016-03-12   0.02
2016-03-13   0.01
2016-03-14   0.01
2016-03-15   0.02
2016-03-16   0.02
2016-03-17   0.03
2016-03-18   0.01
2016-03-19   0.02
2016-03-20   0.02
2016-03-21   0.02
2016-03-22   0.02
2016-03-23   0.02
2016-03-24   0.02
2016-03-25   0.02
2016-03-26   0.02
2016-03-27   0.02
2016-03-28   0.02
2016-03-29   0.02
2016-03-30   0.02
2016-03-31   0.02
2016-04-01   0.02
2016-04-02   0.02
2016-04-03   0.03
2016-04-04   0.02
2016-04-05   0.12
2016-04-06   0.22
2016-04-07   0.13
Name: last_seen, dtype: float64

In [178]:
print(autos['registration_year'].head())

0    2004
1    1997
2    2009
3    2007
4    2003
Name: registration_year, dtype: int64

In [179]:
print(
autos['registration_year'].describe()
)

count   50000.00
mean     2005.07
std       105.71
min      1000.00
25%      1999.00
50%      2003.00
75%      2008.00
max      9999.00
Name: registration_year, dtype: float64

In [180]:
print(
autos['registration_year'].value_counts().sort_index()
)

1000    1
1001    1
1111    1
1500    1
1800    2
       ..
6200    1
8888    1
9000    2
9996    1
9999    4
Name: registration_year, Length: 97, dtype: int64

In [181]:
print(
    autos['registration_year'].value_counts().sort_index().index
     )

Int64Index([1000, 1001, 1111, 1500, 1800, 1910, 1927, 1929, 1931, 1934, 1937,
            1938, 1939, 1941, 1943, 1948, 1950, 1951, 1952, 1953, 1954, 1955,
            1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966,
            1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977,
            1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988,
            1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
            2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
            2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2800, 4100,
            4500, 4800, 5000, 5911, 6200, 8888, 9000, 9996, 9999],
           dtype='int64')

In [182]:
print(
autos['registration_month'].describe()
)

count   50000.00
mean        5.72
std         3.71
min         0.00
25%         3.00
50%         6.00
75%         9.00
max        12.00
Name: registration_month, dtype: float64

In [183]:
print(
autos['registration_month'].value_counts().head()
)

0    5075
3    5071
6    4368
5    4107
4    4102
Name: registration_month, dtype: int64

# Part06

In [184]:

year_between = autos['registration_year'].between(1950, 2019)
autos = autos.loc[year_between]
print(autos['registration_year'].value_counts(normalize=True).sort_index())

1950   0.00
1951   0.00
1952   0.00
1953   0.00
1954   0.00
       ...
2015   0.01
2016   0.03
2017   0.03
2018   0.01
2019   0.00
Name: registration_year, Length: 70, dtype: float64

# Part07

In [185]:
autos['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

[pandas.Series.values](https://pandas.pydata.org/docs/reference/api/pandas.Series.values.html#pandas.Series.values)

In [186]:
brand_bool = (autos['brand'].value_counts(normalize=True) > 0.05).values
brand_names = autos['brand'].value_counts(normalize=True)[brand_bool].index.values
brand_names

array(['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford'],
      dtype=object)

In [187]:
print(autos.dtypes)

date_crawled          object
name                  object
seller                object
offer_type            object
price                  int64
abtest                object
vehicle_type          object
registration_year      int64
gearbox               object
power_ps               int64
model                 object
odometer_km            int64
registration_month     int64
fuel_type             object
brand                 object
unrepaired_damage     object
ad_created            object
nr_of_pictures         int64
postal_code            int64
last_seen             object
dtype: object

In [189]:
mean_price = {}


for brand in brand_names:
    meanprice = autos.loc[autos['brand'] == brand, 'price'].mean()
    mean_price[brand] = int(meanprice)

print(mean_price)

{'volkswagen': 6382, 'opel': 5106, 'bmw': 8253, 'mercedes_benz': 29517, 'audi': 8965, 'ford': 7097}

In [193]:
mileage_by_brand = {}
for brand in brand_names:
    brand_autos = autos[autos['brand'] == brand]
    mileage = brand_autos['odometer_km'].mean()
    mileage_by_brand[brand] = int(mileage)

In [196]:
series_mileage = pd.Series(mileage_by_brand)
series_price = pd.Series(mean_price)
series_price.sort_values()

opel              5106
volkswagen        6382
ford              7097
bmw               8253
audi              8965
mercedes_benz    29517
dtype: int64

In [197]:
df = pd.DataFrame(series_price, columns=['mean_price'])
df['mean_mileage_km'] = series_mileage

In [198]:
print(df)

               mean_price  mean_mileage_km
volkswagen           6382           129015
opel                 5106           129389
bmw                  8253           132567
mercedes_benz       29517           130978
audi                 8965           129643
ford                 7097           124233