<center><h1>Procesamiento y transformación de variables (características)</h1></center>

## 1. Introducción.

Para entender cómo funciona la regresión lineal, nos limitamos a usar características del conjunto de datos de entrenamiento que no contenían valores faltantes y que ya estaban en una representación numérica conveniente. En esta lección, exploraremos cómo transformar algunas de las características restantes para poder usarlas en nuestro modelo. En términos generales, el proceso de procesamiento y creación de nuevas características se conoce como ingeniería de características (**feature engineering**). La ingeniería de características o variables es un poco un arte y tener conocimiento en el dominio específico (en este caso, bienes raíces) puede ayudarlo a crear mejores características. En esta lección, nos centraremos en algunas estrategias independientes del dominio que funcionan para todos los problemas.

En la primera mitad de esta lección, nos centraremos solo en las columnas que no contienen valores perdidos pero que aún no tienen el formato adecuado para usar en un modelo de regresión lineal. En la segunda mitad de esta lección, exploraremos algunas formas de lidiar con los valores faltantes.

Entre las columnas que no contienen valores faltantes, algunos de los problemas comunes incluyen:

- la columna no es numérica (por ejemplo, un código de zonificación representado mediante texto)
- la columna es numérica pero no ordinal (por ejemplo, valores de código postal)
- la columna es numérica pero no es representativa del tipo de relación con la columna de destino (por ejemplo, valores de año)

Comencemos por filtrar el conjunto de entrenamiento a solo las columnas que no contienen valores faltantes.

### Ejercicio
- Seleccione solo las columnas del dataframe de `train` que no contengan valores faltantes.
- Asigne el marco de datos resultante, que contiene solo estas columnas, a `df_no_mv`.
- Explore las variables para familiarizarse con estas columnas.

In [2]:
import numpy as np
import pandas as pd

# import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('AmesHousing.txt', delimiter='\t')
train = data[:1460].copy()
test = data[1460:].copy()

In [4]:
not_null_colls = train.columns[train.notnull().all()].values.tolist()
df_no_mv = train[not_null_colls]

In [5]:
df_no_mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 58 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            1460 non-null   int64
 1   PID              1460 non-null   int64
 2   MS SubClass      1460 non-null   int64
 3   MS Zoning        1460 non-null   object
 4   Lot Area         1460 non-null   int64
 5   Street           1460 non-null   object
 6   Lot Shape        1460 non-null   object
 7   Land Contour     1460 non-null   object
 8   Utilities        1460 non-null   object
 9   Lot Config       1460 non-null   object
 10  Land Slope       1460 non-null   object
 11  Neighborhood     1460 non-null   object
 12  Condition 1      1460 non-null   object
 13  Condition 2      1460 non-null   object
 14  Bldg Type        1460 non-null   object
 15  House Style      1460 non-null   object
 16  Overall Qual     1460 non-null   int64
 17  Overall Cond     1460 non-null   int64
 18  Year Built       1460 non-null   int64
 19  Year Remod/Add   1460 non-null   int64
 20  Roof Style       1460 non-null   object
 21  Roof Matl        1460 non-null   object
 22  Exterior 1st     1460 non-null   object
 23  Exterior 2nd     1460 non-null   object
 24  Exter Qual       1460 non-null   object
 25  Exter Cond       1460 non-null   object
 26  Foundation       1460 non-null   object
 27  Heating          1460 non-null   object
 28  Heating QC       1460 non-null   object
 29  Central Air      1460 non-null   object
 30  Electrical       1460 non-null   object
 31  1st Flr SF       1460 non-null   int64
 32  2nd Flr SF       1460 non-null   int64
 33  Low Qual Fin SF  1460 non-null   int64
 34  Gr Liv Area      1460 non-null   int64
 35  Full Bath        1460 non-null   int64
 36  Half Bath        1460 non-null   int64
 37  Bedroom AbvGr    1460 non-null   int64
 38  Kitchen AbvGr    1460 non-null   int64
 39  Kitchen Qual     1460 non-null   object
 40  TotRms AbvGrd    1460 non-null   int64
 41  Functional       1460 non-null   object
 42  Fireplaces       1460 non-null   int64
 43  Garage Cars      1460 non-null   float64
 44  Garage Area      1460 non-null   float64
 45  Paved Drive      1460 non-null   object
 46  Wood Deck SF     1460 non-null   int64
 47  Open Porch SF    1460 non-null   int64
 48  Enclosed Porch   1460 non-null   int64
 49  3Ssn Porch       1460 non-null   int64
 50  Screen Porch     1460 non-null   int64
 51  Pool Area        1460 non-null   int64
 52  Misc Val         1460 non-null   int64
 53  Mo Sold          1460 non-null   int64
 54  Yr Sold          1460 non-null   int64
 55  Sale Type        1460 non-null   object
 56  Sale Condition   1460 non-null   object
 57  SalePrice        1460 non-null   int64
dtypes: float64(2), int64(28), object(28)
memory usage: 661.7+ KB

## 2. Variables categóricas.
Notará que algunas de las columnas en el marco de datos `df_no_mv` contienen valores de cadena. Si estas columnas contienen solo un conjunto limitado de valores únicos, se conocen como  variables(características) categóricas. Como sugiere el nombre, una característica categórica agrupa una instancia en una categoría específica. Estos son algunos ejemplos del conjunto de datos:

In [6]:
print(train['Utilities'].value_counts())

AllPub    1457
NoSewr       2
NoSeWa       1
Name: Utilities, dtype: int64

In [7]:
print(train['Street'].value_counts(), '\n')

print(train['House Style'].value_counts())

Pave    1455
Grvl       5
Name: Street, dtype: int64

1Story    743
2Story    440
1.5Fin    160
SLvl       60
SFoyer     35
2.5Unf     11
1.5Unf      8
2.5Fin      3
Name: House Style, dtype: int64

Para usar estas características en nuestro modelo, necesitamos transformarlas en representaciones numéricas. Afortunadamente, pandas lo hace fácil porque la biblioteca tiene un tipo de [datos categórico](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html). Podemos convertir cualquier columna que no contenga valores faltantes (o se generará un error) al tipo de datos categóricos usando el método [`pandas.Series.astype()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html):

In [8]:
print(train['Utilities'].astype('category').dtype)
print(train['Utilities'].dtype)

category
object

In [9]:
train['Utilities'] = train['Utilities'].astype('category')

Cuando una columna se convierte a tipo de datos categóricos, pandas asigna un código a cada valor único en la columna. A menos que accedamos a estos valores directamente, la mayoría de las operaciones de manipulación de pandas que funcionan para las columnas de cadenas (texto) también funcionarán para las categóricas.

In [10]:
print(train['Utilities'])

0       AllPub
1       AllPub
2       AllPub
3       AllPub
4       AllPub
         ...
1455    AllPub
1456    AllPub
1457    AllPub
1458    AllPub
1459    AllPub
Name: Utilities, Length: 1460, dtype: category
Categories (3, object): ['AllPub', 'NoSeWa', 'NoSewr']

Necesitamos usar el descriptor de acceso `.cat` seguido de la propiedad `.codes` para acceder realmente a la representación numérica subyacente de una columna:

In [11]:
print(train['Utilities'].cat.codes)

0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Length: 1460, dtype: int8

### Ejercicio
- Convierta todas las columnas de texto en `train` al tipo de datos categóricos. Para seleccionar columnas de un tipo de dato en específico puede usar [`pandas.DataFrame.select_dtypes`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.select_dtypes.html)
- Seleccione la columna `Utilities`, devuelva los códigos categóricos y muestre los recuentos de valores únicos para esos códigos: `train['Utilities'].cat.codes.value_counts()`

In [12]:
print(df_no_mv.select_dtypes(include=['object']).columns)
text_cols = df_no_mv.select_dtypes(include=['object']).columns

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Heating', 'Heating QC', 'Central Air', 'Electrical',
       'Kitchen Qual', 'Functional', 'Paved Drive', 'Sale Type',
       'Sale Condition'],
      dtype='object')

In [13]:
for col in text_cols:
    print(f'{col}:{len(train[col].unique())}')
    train[col] = train[col].astype('category')

MS Zoning:6
Street:2
Lot Shape:4
Land Contour:4
Utilities:3
Lot Config:5
Land Slope:3
Neighborhood:26
Condition 1:9
Condition 2:6
Bldg Type:5
House Style:8
Roof Style:6
Roof Matl:5
Exterior 1st:14
Exterior 2nd:16
Exter Qual:4
Exter Cond:5
Foundation:6
Heating:6
Heating QC:4
Central Air:2
Electrical:4
Kitchen Qual:5
Functional:7
Paved Drive:3
Sale Type:9
Sale Condition:5

In [14]:
print(train['Utilities'].cat.codes.value_counts())

0    1457
2       2
1       1
dtype: int64

## 3. Codificación ficticia.
Cuando convertimos una columna datos categóricos, pandas asigna un número `0` a `n-1` (donde `n` es el número de valores únicos en una columna) para cada valor. El inconveniente de este enfoque es que aquí se viola uno de los supuestos de la regresión lineal. La regresión lineal opera bajo el supuesto de que las características están linealmente correlacionadas con la columna de destino. Sin embargo, para una característica categórica, no hay un significado numérico real para los códigos categóricos que pandas asignó para esa columna. Un aumento en la columna Utilidades de 1 a 2 no tiene un valor de correlación con la columna de destino y, en cambio, los códigos categóricos se utilizan para la unicidad y exclusividad (la categoría asociada con 0 es diferente a la asociada con 1).

La solución común es usar una técnica llamada [codificación ficticia](https://en.wikipedia.org/wiki/Dummy_variable_%28statistics%29). En lugar de tener una sola columna con `n` códigos enteros, tenemos `n` columnas binarias. Así es como se vería para la columna Utilidades:

| Utilities_AllPub | Utilities_NoSewr | Utilities_NoSeWa |
|------------------|------------------|------------------|
| 1                | 0                | 0                |
| 1                | 0                | 0                |
| 1                | 0                | 0                |
| 1                | 0                | 0                |

Debido a que los valores originales para las primeras 4 filas eran `AllPub`, en el nuevo esquema contienen el valor binario para verdadero (`1`) en la columna `Utilities_AllPub` y `0` para las otras 2 columnas.

Pandas tiene una función conveniente para ayudarnos a aplicar esta transformación para todas las columnas de texto llamada [`pandas.get_dummies()`](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html).


### Ejercicio
- Convierta todas las columnas en `text_cols` del datafrane `train` en columnas ficticias.
- Elimine las columnas originales de `text_cols` del dataframe `train`.

In [ ]:
print(train.columns.size)

In [ ]:
dummy_cols = pd.get_dummies(train[text_cols], prefix='', prefix_sep='')
train = pd.concat([train, dummy_cols], axis=1)

In [ ]:
print(train.columns.size)

In [15]:
train.drop(columns=text_cols, inplace=True)

In [18]:
print(train.columns.size)

236

## 4. Transformación de variables numéricas impropias.

Nos enfocamos en valores categóricos que se representaron como columnas de texto. Algunas de las columnas numéricas del conjunto de datos también son categóricas y solo tienen un conjunto limitado de valores únicos. No exploraremos explícitamente esas columnas por el momento, pero el proceso de transformación de características es el mismo si los números usados en esas categorías no tienen significado numérico.

Veamos ahora las características numéricas que no son categóricas, pero cuya representación numérica debe mejorarse. Nos centraremos en las columnas `Year Remod/Add` y `Year Built`:

In [20]:
print(train[['Year Remod/Add', 'Year Built']].head())

   Year Remod/Add  Year Built
0            1960        1960
1            1961        1961
2            1958        1958
3            1968        1968
4            1998        1997

Los dos problemas principales con estas características son:

- Los valores del año no son representativos de la antigüedad de una casa
- La columna Year Remod/Add en realidad no proporciona información útil para un modelo de regresión lineal

El desafío con valores de año como `1960` y `1961` es que no hacen un buen trabajo al capturar la antigüedad de una casa. Por ejemplo, una casa que se construyó en `1960` pero se vendió en `1980` se vendió en la mitad del tiempo que una construida en `1960` y vendida en `2000`. En lugar de los años en que ocurrieron ciertos eventos, queremos la diferencia entre esos años. Deberíamos crear una nueva columna que sea la diferencia entre ambas columnas.

Para esta información en particular (años hasta que se remodeló), este es un enfoque sensato. El conocimiento del negocio puede ayudar a comprender cómo transformar mejor las características para representar bien la información para un modelo lineal.

### Ejercicio
- Cree una nueva columna `years_until_remod` en el dataframe de `train` que represente la diferencia entre `Year Remod/Add` (el valor posterior) y `Year Built` (el valor anterior).

In [ ]:
train['years_until_remod'] = train['Year Remod/Add'] - train['Year Built']
print('years_until_remod').head()

## 5. Valores faltantes.
A continuación nos centraremos en el manejo de columnas con valores faltantes. Cuando faltan valores en una columna, hay dos enfoques principales que podemos tomar:

- Eliminar filas que contienen valores faltantes para columnas específicas
    - Ventaja: las filas que contienen valores faltantes se eliminan, dejando solo datos limpios para el modelado
    - Desventaja: Se eliminan todas las observaciones del conjunto de entrenamiento, lo que puede reducir la precisión general de la predicción.
- Impute (o reemplace) los valores faltantes usando una estadística descriptiva de la columna
    - Ventaja: los valores faltantes se reemplazan con estimaciones potencialmente similares, conservando el resto de la observación en el modelo.
    - Desventaja: dependiendo del enfoque, es posible que estemos agregando datos ruidosos para que el modelo los aprenda.

Dado que solo tenemos 1460 ejemplos de entrenamiento (con ~80 variables potencialmente útiles), no queremos eliminar ninguna de estas filas del conjunto de datos. En cambio, centrémonos en las técnicas de **imputación**.

Nos centraremos en las columnas que contienen entre 1  y 365 valores faltantes (o el 25 % del número de filas en el conjunto de entrenamiento). No existe un umbral estricto y, en cambio, muchas veces se usa un límite del 50 % (si falta la mitad de los valores en una columna, se descarta automáticamente). Tener conocimiento del negocio puede ayudar a determinar un valor de corte aceptable.

### Ejercicio

- Seleccione solo las columnas de `train` que contengan más de `0` pero menos de `584` valores perdidos. Asigne el dataframe resultante a `df_missing_values`.
- Muestra el número de valores que faltan para cada columna en `df_missing_values`.
- Muestre el tipo de datos para cada columna en `df_missing_values`.

In [23]:
train.isnull().sum().between(1, 583)

Order           False
PID             False
MS SubClass     False
Lot Frontage     True
Lot Area        False
                ...
Abnorml         False
Alloca          False
Family          False
Normal          False
Partial         False
Length: 236, dtype: bool

In [26]:
print(train.columns[train.isnull().sum().between(1, 583)])
select_cols = train.columns[train.isnull().sum().between(1, 583)]

Index(['Lot Frontage', 'Mas Vnr Type', 'Mas Vnr Area', 'Bsmt Qual',
       'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1',
       'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF',
       'Bsmt Full Bath', 'Bsmt Half Bath', 'Garage Type', 'Garage Yr Blt',
       'Garage Finish', 'Garage Qual', 'Garage Cond'],
      dtype='object')

In [28]:
df_missing_values = train[select_cols].copy()
print(df_missing_values.isnull().sum())
print(df_missing_values.dtypes)

Lot Frontage      249
Mas Vnr Type       11
Mas Vnr Area       11
Bsmt Qual          40
Bsmt Cond          40
Bsmt Exposure      41
BsmtFin Type 1     40
BsmtFin SF 1        1
BsmtFin Type 2     41
BsmtFin SF 2        1
Bsmt Unf SF         1
Total Bsmt SF       1
Bsmt Full Bath      1
Bsmt Half Bath      1
Garage Type        74
Garage Yr Blt      75
Garage Finish      75
Garage Qual        75
Garage Cond        75
dtype: int64
Lot Frontage      float64
Mas Vnr Type       object
Mas Vnr Area      float64
Bsmt Qual          object
Bsmt Cond          object
Bsmt Exposure      object
BsmtFin Type 1     object
BsmtFin SF 1      float64
BsmtFin Type 2     object
BsmtFin SF 2      float64
Bsmt Unf SF       float64
Total Bsmt SF     float64
Bsmt Full Bath    float64
Bsmt Half Bath    float64
Garage Type        object
Garage Yr Blt     float64
Garage Finish      object
Garage Qual        object
Garage Cond        object
dtype: object

In [30]:
print(df_missing_values.dtypes.value_counts())

object     10
float64     9
dtype: int64

## 6. Imputación de valores faltantes.
Parece que aproximadamente la mitad de las columnas en `df_missing_values` son columnas de cadena (datos tipo `object`), mientras que aproximadamente la mitad son columnas `float64`. Para columnas numéricas con valores faltantes, una estrategia común es calcular la media, la mediana o la moda de cada columna y reemplazar todos los valores faltantes en esa columna con ese valor.

Debido a que la imputación es una tarea común, pandas contiene un método [`pandas.DataFrame.fillna()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) que podemos usar para esto. Si pasamos un valor, todos los valores faltantes (`NaN`) en el dataframe se reemplazan por ese valor:

```python
# Only select float columns.
missing_floats = df_missing_vals.select_dtypes(include=['float'])

# Returns a data frame with missing values replaced with 0.
fill_with_zero = missing_floats.fillna(0)
```

También puede pasar una función por columnas y completar los valores faltantes de esa manera:

```python
# Returns a data frame with missing values replaced with mean of that column.
fill_with_mean = missing_floats.fillna(missing_floats.mean())
```

### Ejercicio
- Impute los valores faltantes de `float_cols` con la media de la columna.
- Compruebe si faltan valores en `float_cols`.

In [29]:
float_cols = df_missing_values.select_dtypes(include=['float']).copy()
# print(df_missing_values.shape)

float_cols.fillna(float_cols.mean(), inplace=True)
print(float_cols.isnull().any())

Lot Frontage      False
Mas Vnr Area      False
BsmtFin SF 1      False
BsmtFin SF 2      False
Bsmt Unf SF       False
Total Bsmt SF     False
Bsmt Full Bath    False
Bsmt Half Bath    False
Garage Yr Blt     False
dtype: bool

## 7. Conclusión.
En esta lección, exploramos diferentes técnicas  para transformar entidades en representaciones apropiadas para un modelo de regresión lineal.