<center><h1>Exploración de datos con pandas: intermedio</h1></center>

<h2>01. Introducción</h2>
<h3>Ejercicio</h3>
<br>
<div><p>Ya hemos leído el conjunto de datos en un dataframe de pandas y lo hemos asignado a una variable llamado <code>f500</code>. También reemplazamos todos los valores <code>0</code> en la columna <code>previous_rank</code> con <code>NaN</code>, como hicimos en la lección anterior.</p>
<ol>
<li>Seleccione las columnas <code>rank</code>, <code>revenues</code> y <code>revenue_change</code> en <code>f500</code>. Luego, usa el método <code>DataFrame.head()</code> para seleccionar las primeras cinco filas. Asigne el resultado a <code>f500_selection</code>.</li>
<li>Imprima la variable <code>f500_selection</code>. Compare los resultados con las primeras líneas de nuestro archivo CSV anterior.</li>
<li>Eche un vistazo a la documentación de la función <a href="http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html" target="_blank"><code>pandas.read_csv()</code></a> para intentar comprender los resultados.</li>
</ol></div></div>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# read the data set into a pandas dataframe
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [ ]:
f500_selection = f500[['rank', 'revenues', 'revenue_change']].head()

In [ ]:
f500_selection

<h2>02. Leyendo archivos CSV con pandas</h2>

<h3>Ejercicio</h3>
<ol>
<li>Utilice la función <code>pandas.read_csv()</code> para leer el archivo CSV <code>f500.csv</code> como un dataframe pandas. Asígnelo al nombre de variable <code>f500</code>.
<ul>
<li>No utilice el parámetro <code>index_col</code>.</li>
</ul></li>
<li>Utilice el siguiente código para insertar los valores de NaN en la columna <code>previous_rank</code>:
<code>f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan</code></li>
</ol>

In [ ]:
f500 = pd.read_csv('f500.csv')

In [ ]:
f500.loc[f500['previous_rank'] == 0, 'previous_rank']

In [ ]:
f500.loc[f500['previous_rank'] == 0, 'previous_rank'] = np.nan

In [ ]:
f500.head()

In [ ]:
f500.tail()

<div></div>
<h2>03. Uso de iloc para seleccionar por posición entera</h2>
 
<h3>Ejercicio</h3>
<br>
<ol>
<li>Seleccione solo la quinta fila del dataframe <code>f500</code>. Asigne el resultado a <code>fifth_row</code>.</li>
<li>Seleccione el valor en la primera fila de la columna <code>company</code>. Asigne el resultado a <code>company_value</code>.</li>
</ol>

In [ ]:
fifth_row = f500.iloc[4]
company_value = f500.iloc[0, 0]

In [ ]:
print(fifth_row)

<h2>04. Utilización de iloc para seleccionar por posición de número entero (continuación)</h2>

<h3>Ejercicio</h3>
<br>
<ol>
<li>Seleccione las tres primeras filas del dataframe <code>f500</code>. Asigne el resultado a <code>first_three_rows</code>.</li>
<li>Seleccione la primera y la séptima fila y las primeras cinco columnas del dataframe <code>f500</code>. Asigne el resultado a <code>first_seventh_row_slice</code>.</li>
<li>Después de ejecutar su código, imprima sus variables.</li>
</ol>

In [ ]:
first_three_rows = f500.iloc[:3]
first_seventh_row_slice = f500.iloc[[0, 6], :5]

In [ ]:
print(first_seventh_row_slice)

<h2>05. Uso de métodos pandas para crear máscaras booleanas</h2>

<h3>Ejercicio</h3>
<br>
<ol>
<li>Use el método <code>Series.isnull()</code> para seleccionar todas las filas de <code>f500</code> que tienen un valor nulo para la columna <code>previous_rank</code>. Seleccione solo las columnas <code>company</code>, <code>rank</code> y <code>previous_rank</code>. Asigne el resultado a <code>null_previous_rank</code>.</li>
</ol>

In [ ]:
null_previous_rank = (
    f500.loc[
        f500['previous_rank'].isnull(), 
        ['company', 'rank', 'previous_rank']
    ]
                     )

In [ ]:
print(f500['previous_rank'].isnull().value_counts())

<h2>06. Trabajar con etiquetas enteras</h2>


<h3>Ejercicio</h3>
<br>
<ol>
<li>Asigne las primeras cinco filas del dataframe <code>null_previous_rank</code> a la variable <code>top5_null_prev_rank</code> eligiendo el método correcto entre <code>loc[]</code> o <code>iloc[]</code>.</li>
</ol>

In [ ]:
null_previous_rank = f500[f500["previous_rank"].isnull()]
top5_null_prev_rank = null_previous_rank.iloc[:5]

In [ ]:
top5_null_prev_rank

<h2>07. Alineación de índices</h2>

<h3>Ejercicio</h3>
<br>
<ol>
<li>Utilice el método <code>Series.notnull()</code> para seleccionar todas las filas de <code>f500</code> que tengan un valor no nulo para la columna <code>previous_rank</code>. Asigne el resultado a <code>previously_ranked</code></li>
<li>Del dataframe <code>previously_ranked</code>, reste la columna <code>rank</code> de la columna <code>previous_rank</code>. Asigne el resultado a <code>rank_change</code>.</li>
<li>Asigne los valores en <code>rank_change</code> a una nueva columna en el dataframe <code>f500</code>, <code>"rank_change"</code>.</li>
<li>Imprima las variables para ver el dataframe <code>f500</code> y observe cómo la nueva columna se alinea con los datos existentes.</li>
</ol>

In [ ]:
previously_ranked = f500[f500['previous_rank'].notnull()]

In [ ]:
rank_change = previously_ranked['previous_rank'] - previously_ranked['rank']

In [ ]:
print(rank_change.shape)
print(rank_change.tail(3))

In [ ]:
f500['rank_change'] = rank_change

In [ ]:
f500.head()

<h2>08. Uso de operadores booleanos</h2>

<h3>Ejercicio</h3>
<br>
<ol>
<li>Seleccione todas las empresas con ingresos superiores a 100 000 millones y beneficios negativos del dataframe <code>f500</code>. El resultado debe incluir todas las columnas.<ul>
<li>Cree una matriz booleana que seleccione las empresas con ingresos superiores a 100 000 millones. Asigne el resultado a <code>large_revenue</code>.</li>
<li>Cree una matriz booleana que seleccione las empresas con beneficios inferiores a 0. Asigne el resultado a <code>negative_profits</code>.</li>
<li>Combine <code>large_revenue</code> y <code>negative_profits</code>. Asigne el resultado a <code>combined</code>.</li>
<li>Utilice <code>combined</code> para filtrar <code>f500</code>. Asigne el resultado a <code>big_rev_neg_profit</code>.</li>
</ul>
</li>
</ol>

In [ ]:
large_revenue = f500['revenues'] > 100_000

In [ ]:
negative_profits = f500['profits'] < 0

In [ ]:
combined = large_revenue & negative_profits

In [ ]:
big_rev_neg_profit = f500[combined]

In [ ]:
big_rev_neg_profit

<h2>09. Uso de operadores booleanos, continuación</h2>

<h3>Ejercicio</h3>
<br>
<ol>
<li>Seleccione todas las filas de empresas cuyo valor de <code>country</code> sea Brasil o Venezuela. Asigne el resultado a <code>brazil_venezuela</code>.</li>
<li>Seleccione las primeras cinco empresas en el sector "Technology" cuyo país <strong>no</strong> es EE. UU. del dataframe <code>f500</code>. Asigne el resultado a <code>tech_outside_usa</code>.</li>
</ol>

In [ ]:
brazil_venezuela = f500[(f500['country'] == 'Brazil') | (f500['country'] == 'Venezuela')]

In [ ]:
tech_outside_usa = f500[(f500['sector'] == 'Technology') & (f500['country'] != 'USA')].head()

<h2>10. Ordenar Valores</h2>

<h3>Ejercicio</h3>
<br>
<ol>
<li>Encuentre la empresa con sede en Japón y la mayor cantidad de empleados.<ul>
<li>Seleccione solo las filas que tengan un nombre de país igual a <code>Japón</code>. </li>
<li>Use <code>DataFrame.sort_values()</code> para ordenar esas filas <em>por</em> la columna <code>empleados</code> en orden <em>descendente</em>.</li>
<li>Utilice <code>DataFrame.iloc[]</code> para seleccionar la primera fila del dataframe ordenado.</li>
<li>Extraiga el nombre de la empresa de la etiqueta de índice <code>company</code> de la primera fila. Asigne el resultado a <code>top_japanese_employer</code>. </li>
</ul>
</li>
<li>Después de ejecutar su código, imprima las variables para ver el principal empleador de <code>Japón</code>.</li>
</ol>

In [ ]:
top_japanese_employer = f500[f500['country'] == 'Japan'].sort_values('employees',  ascending=False).iloc[0, 0]

In [ ]:
top_japanese_employer

<h2>11. Uso de bucles con pandas</h2>

<h3>Ejercicio</h3>
<br>
<div><p>En este ejercicio, vamos a generar el siguiente diccionario del principal empleador en cada país:</p>
<pre><code>{'EE.UU.': 'Walmart',
 'China': 'China National Petroleum',
 'Japón': 'Toyota Motor',
 ...
 'Turquía': 'Koc Holding',
 'EAU': 'Emirates Group',
 'Israel': 'Teva Pharmaceutical Industries'}
</code></pre>
<ol>
<li>Cree un diccionario vacío, <code>top_employer_by_country</code> para almacenar los resultados del ejercicio.</li>
<li>Utilice el método <code>Series.unique()</code> para crear una matriz de valores únicos a partir de la columna <code>country</code>.</li>
<li>Use un ciclo for para iterar sobre los países únicos de la matriz. En cada iteración:<ul>
<li>Seleccione solo las filas que tengan un nombre de país igual al de la iteración actual.</li>
<li>Use <code>DataFrame.sort_values()</code> para ordenar esas filas <em>por</em> la columna <code>empleados</code> en orden <em>descendente</em>.</li>
<li>Seleccione la primera fila del dataframe ordenado.</li>
<li>Extraiga el nombre de la empresa de la columna <code>company</code> de la primera fila.</li>
<li>Asigne los resultados al diccionario <code>top_employer_by_country</code>, utilizando el nombre del país como llave y el nombre de la empresa como valor.</li>
</ul>
</li>
<li>Imprima las variables para ver el principal empleador de cada país.</li>
</ol></div>

In [ ]:
top_employer_by_country = {}
countries = f500['country'].unique()

In [ ]:
print(countries)

In [ ]:
for country in countries:
    selected_row = f500[f500['country'] == country].sort_values('employees', ascending=False).iloc[0]
    top_employer_by_country[country] = selected_row['company']

In [ ]:
top_employer_by_country

<h2>12. Desafío: Calcular el rendimiento de los activos por país</h2>

<h3>Ejercicio</h3>
<ol>
<li>Cree una nueva columna <code>roa</code> en el dataframe <code>f500</code>, que contenga la métrica de rendimiento de los activos para cada empresa.</li>
<li>Agregue los datos por la columna <code>sector</code> y cree un diccionario <code>top_roa_by_sector</code>, con:<ul>
<li>El nombre del sector como llaves del Diccionario.</li>
<li>El nombre de la empresa con el valor ROA más alto de ese sector como valores del diccionario .</li>
</ul>
</li>
</ol>

In [ ]:
# step 1
f500['roa'] = f500['profits'] / f500['assets']

In [ ]:
print(f500['profits assets roa'.split()].head())

In [ ]:
# step 2
top_roa_by_sector = {}
sectors = f500['sector'].unique()

In [ ]:
for sector in sectors:
    selected_row = f500[f500['sector'] == sector].sort_values('roa', ascending=False).iloc[0]
    top_roa_by_sector[sector] = selected_row['company']

In [ ]:
top_roa_by_sector

## Conclusión 

<ul>
<li>Seleccionar columnas, filas y elementos individuales usando su ubicación entera.</li>
<li>Utilizar <code>pd.read_csv()</code> para leer archivos CSV en pandas.</li>
<li>Trabajar con etiquetas de ejes enteros.</li>
<li>Cómo usar los métodos de pandas para producir arreglos booleanos.</li>
<li>Utilizar operadores booleanos para combinar comparaciones booleanas para realizar análisis más complejos.</li>
<li>Utilizar etiquetas de índice para alinear los datos.</li>
<li>Utilizar la agregación para realizar análisis avanzados mediante bucles.</li>
</ul>